<div id="about-container">
  <h1>О проекте GoDrink</h1>
  <hr/>
	<h4>
   	  <p>
   	    Данный проект создан ради фана для помощи в организации событий, 
	    встреч, пьянок и т. д. с возможностью поделиться фотографиями и оставить сообщение движущимся на точку вертолетчикам
	  </p>
	  <br/>
	  <p>Версия проекта: 0.1</p>
	  <br/>
	  Используемые технологии:<br/>
	  	<li>Ruby, Ruby-On-Rails 5.0;</li>
	   	<li>PostgreSQL 9.5;</li>
	   	<li>JavaScript (JQuery);</li>
	   	<li>Bootstrap 3.</li>
	  <br/>
	</h4>
	<h4>
	  <p>Скоро будет добавлено:</p>
	    <li>админ. панель;</li>
	    <li>аутентификация через VK или FB</li>
	    <li>интеграция Гугл(или Яндекс)-карт, отображение сетки событий на карте;</li>
	    <li>возможность загрузки видео;</li>
	    <li>возможность смс-оповещений.</li>
	  <br/>
	  <p>Планы по дальнейшему развитию:</p>
        <li>слияние с проектом <a class="tkmoto-link" href="http://tkmoto.herokuapp.com">ТКМото</a>;</li>
        <li>... и прочее.</li>
    </h4>
</div>