%ul.nav.navbar-nav.navbar-right.root_links
  - actions(:root).each do |action|
    %li{class: "#{action.action_name}_root_link"}= link_to wording_for(:menu, action), { action: action.action_name, controller: 'rails_admin/main' }, class: action.pjax? ? "pjax" : "", style: "color: white"
  - if _current_user
    
    - if logout_path.present?
      %li= link_to content_tag('span', t('admin.misc.log_out'), class: 'btn btn-danger btn-xs'), logout_path, method: logout_method
