<h1>Учетные записи администраторов</h1>
<%= link_to 'Создать учетку админа', new_admin_registration_path, class: 'btn btn-primary' %>
<hr/>

<%= render partial: 'admins/admin_index', collection: @admins, as: :admin %>
