<h1>Редактирование события</h1>

<div class="row">
  <div class="col-md-6 buffer-top">
    <%= render 'form' %>

    <br/>

    <% if current_user_can_edit?(@event) %>
      <div class="buffer-both">
        <%= link_to 'Удалить событие', event_path(@event), method: :delete, class: "btn btn-danger", data: {confirm: 'Уверен что хочешь удалить встречу?'} %>
      </div>
    <% end %>
  
  </div>

</div>