@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


.field_with_errors input {
	border-color: red;					/* стиль поля с ошибкой валидации */
}

.field_with_errors textarea {
	border-color: red;					/* красный контур поля с ошибкой валидации */
}

/* навбар стиль */
/* .navbar {
	background-color: yellow;
}
*/

.buffer-top {
	margin-top: 20px;
}

.buffer-bottom {
	margin-bottom: 20px;
}

.buffer-both {
	margin-top: 20px;
	margin-bottom: 20px;
}