/*
*= require_tree .
*= require_self
*= require events
*/
/*        */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "lightbox";
@import "rails_admin/custom/theming";


.navbar-brand-image {
	height: 40px;
	margin-top: -10px;
}

.navbar-brand {
	color: #ff0033;
}



.field_with_errors input {
	border-color: red;					/* стиль поля с ошибкой валидации */
}

.field_with_errors textarea {
	border-color: red;					/* красный контур поля с ошибкой валидации */
}

.buffer-top {
	margin-top: 20px;
}

.buffer-bottom {
	margin-bottom: 20px;
}

.buffer-both {
	margin-top: 20px;
	margin-bottom: 20px;
}


/* Thumbnails, стиль-показ случайныая картинка фона для event#index
само получение картинки определено в events/event и application_helper  */
.thumbnail {
    position: relative;
    background: transparent;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
}


#avatar_user_show {
    position: relative;
    background: transparent;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
}