// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* чтиль страницы event#index; */

 .event-info {
  position: relative;
  color: white;
  overflow: hidden;
  margin-bottom: 20px;
}


.event-background {
  position: absolute;
  width: 100%;
  z-index: -1;

  top: 0; bottom: 0;
  left: 0; right: 0;

  background-size: cover;
  background-position: center;

  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.event-info-inner {
  background:rgba(0, 0, 0, 0.4);
}

.event-description {
	text-align: right;
}

.event-title {
	color: #ffca00;	
}

.event-date {
	color: #c2c2c2;	
}

.event-coords {
	color: #c2c2c2;	
	margin-top: 20px;
	margin-bottom: 20px;
}

.event-description-show * {
  color: white;
}

.event-description-show a {
  color: #d0d0ff;
}

.event-description-show small {
  color: #e0e0e0;
}
