// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* чтиль страницы event#index; */
.event-background {
    /* background-color: yellow; */
	background-image: url(background_event.jpg);
	background-size: contain;
}

.event-description {
	text-align: right;
}

.event-title {
	color: #ffca00;	

}

.event-date {
	color: #c2c2c2;	
}

.event-coords {
	color: #c2c2c2;	
	margin-top: 20px;
	margin-bottom: 20px;
}


.event-info-inner {
 	background-image: url(background_event.jpg);
	background-size: cover;
}

.event-description-show * {
  color: white;
}

.event-description-show a {
  color: #d0d0ff;
}

.event-description-show small {
  color: #e0e0e0;
}



