<h1>Панель управления эвентами</h1>

<div class="table-responsive">
  <table class="table">
    <tr>
      <td>Эвент</td>
      <td>Место проведения</td>
      <td>Время/дата</td>
      <td>Создал</td>
      <td>Пойдут</td>
      <td>Управление</td>
    </tr>
    
    <%= render partial: 'admin/content/event_index', collection: @events, as: :event %>

  </table>
</div>
