<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <%# Для вывода названия приложения используем хелпер I18n.t %>
    <%= link_to t('GoDrinK'), root_path, class: 'navbar-brand' %>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">

      </ul>
    </div>
  </div>
</div>